# Python virtual environment
.venv/
venv/
ENV/
env/

# Python byte code
__pycache__/
*.py[cod]

# IDE files
.vscode/
.idea/

# Uploads / Outputs for video panorama
video-panorama-generator/uploads/*
!video-panorama-generator/uploads/.gitkeep
video-panorama-generator/outputs/*
!video-panorama-generator/outputs/.gitkeep
uploads/
outputs/
*.jpg
*.png
